html {
    font-size: 12px;
}

#main_container {
    height: 100%;
}

input {
    height: 25px;
}

.form-control {
    font-size: 1rem;
    height: 2rem;
}

.btn {
    font-size: 1.1rem;
}

input[type='checkbox'] {
    height: auto!important;
}

.panel-section {
    max-width: 300px;
    margin-left: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.panel-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-section .separate-block.row {
    margin-top: 30px;
}

.panel-body-row {
    flex: 1;
    height: 100%;
}

.panel-section .buttons_row {
    /*max-width: 95%;*/
}

.imp-exp-new ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
}

.imp-exp-btn {
    background-color: #fcfefe;
    color: #2c7dca;
    border: 1px solid #D3D3D3;
    padding: 2px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.imp-exp-btn.col-sm {
    padding: 5px;
    text-align: center;
}

.imp-exp-btn.select_wrapper {
    display: flex;
    padding: 0;
    flex: 2;
}

.imp-exp-btn select {
    padding: 5px;
    border: 0px;
    width: 100%;
}

.imp-exp-btn.map_view {
    color: #7d7d7e;
}

.ui-item {
    max-width: 270px;
}

#main-panel .btn {
    font-size: 1.3rem;
}

.panel.panel-default.poi-container {
    width: 100%;
}

.panel-body {
    font-size: 1.1rem;
    position: relative;
    overflow-y: scroll;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#controls-section {
    position: absolute;
    right: 0;
    bottom: 20px;
    right: 20px;
    display: none;
}

#controls-section ul {
    list-style: none;
}

.controls-btn {
    font-size: 2.1rem;
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 0px 2px #A9A9A9;
    margin: 5px;
    cursor: pointer;
    font-weight: 100;
    padding: 4px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}


.controls-btn.ctrl-rotate-left {
    margin-left: -30px;
}

.controls-btn.ctrl-rotate-right {
    margin-left: 20px;
}

.btn-primary {
    color: #fff!important;
    background-color: #007bff!important;
    border-color: #007bff!important;
}

#listPoiContainer {
    list-style: none;
}

.poi-list-item {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid lightgrey;
    padding: 10px;
    cursor: pointer;
    min-height: 6rem;
}

.poi-item-wrapper {
    padding: 1px 10px;
}

#listPoiTemplate,
#pairKeyValueTemplate {
    display: none!important;
}

.list-icon-wrapper {
    display: flex;
    align-items: center;
}

.poi-list-item.row,
.custom-theme-list.row {
    margin: 1px;
    margin-left: 0;
    margin-right: 0;
}

.custom-theme-list {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.3rem;
}

.list-poi-icon {
    font-size: 1.6rem;
}

.list-poi-label {
    margin: 0;
    font-weight: 400;
    display: block;
    line-height: 100%;
    font-size: 1.3rem;
}

.list-poi-bldg,
.list-poi-floor,
.list-poi-dtime {
    color: #cacaca;
    font-size: 1.1rem;
    line-height: 100%;
    margin: 0;
}

.invisible {
    display: none!important;
    transition: all 1s;
}

#details-panel {
    background-color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#icons-panel {
    background-color: #ffffff;
}

.poi-details-panel .form-group {
    margin-bottom: 0.5rem!important;
}

.poi-details-panel .form-group label {
    margin-bottom: .2rem!important;
}

#details-panel .row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0!important;
    margin-right: 0!important;
}

#icons-panel .row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0!important;
    margin-right: 0!important;
}

#details-header,
#icons-list-header,
#colors-list-header {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#icons-list-header .btn {
    font-size: 1rem;
}

.poi-details-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.poi-details-panel input,
.poi-details-panel select {
    height: 25px;
    padding: 4px;
}

.poi-details-panel textarea {
    padding-left: 4px;
}

.poi-details-panel select {
    height: 25px!important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
}

.poi-details-panel label {
    color: #9f9e9e;
    font-size: 1rem;
    font-weight: 400;
}

.poi-details-panel span {
    color: #9f9e9e;
    font-size: 1rem;
    font-weight: 400;
}

.poi-details-panel,
.poi-list-panel {
    transition: display 0.5s;
}

.poi-details-name {
    width: 100%;
    height: 30px;
}

.poi-details-select {
    padding: 0;
    height: 20px;
}

.btn-basic {
    background-color: #808080;
    color: #FFFFFF;
}

.saved-btn {
    display: none;
    transition: all 0.5s;
}

.saved-btn span{
    text-align: right;
    color: #28a745!important;
}

#details-panel .header-button {
    height: 30px;
}

.header-button span {
    color: #FFFFFF;
}

.header-button .poi-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.header-button * {
    cursor: pointer;
}

.btn-success {
    backgroundd-color: #5eb861!important;
}

.btn-primary {
    background-color: #1175d3!important;
}

.last-row {
    height: 70px;
    border-bottom: 1px solid #D3D3D3;
}

#delete-point-section {
    padding-top: 5px;
}

.tooltip-body {
    display: block;
    width: 100%;
}

.form-icon {
    width: 20px;
    height: 20px;
}

.no-right-padding {
    padding-right: 0!important;
}

.import-poi-file {
    display: none!important;
}

#con-file-hidden {
    display: none!important;
}

#poi-browse-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#poi-browse-icons {
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
}

#poi-browse-icons button {
    font-size: 1.1rem!important;
    text-align: center;
    padding: 0;

}

.poi-icon-image {
    width: 3rem;
    height: 3rem;
}

#poi-select-icon {
    margin-left: auto;
    margin-right: auto;
}

.centered-label {
    margin: auto;
    text-align: center;
}

#icon-file-hidden {
    display: none!important;
}

#poi-icon-image {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.icon-sample {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
}


.icons-list-panel .row {
    margin: 0;
}

.selected-icon {
    background-color: #5db860;
}

.panel-body-row.icons-list-panel {
    height: 100%;
    overflow-y: scroll;
}

.panel-body-row .icons-container {
    overflow: hidden;
    margin-bottom: 0;
}

.icon-btn-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}

#poi-key-value-list {
    list-style: none;
    padding: 0;
}

.pair-key-row {
    width: 100%;
}

.pair-key-row .list-icon-wrapper {
    padding: 0;
    padding-top: 31px;
}

.pair-type {
    font-size: 1rem!important;
}

.sorting-section {
    display: none;
    margin-bottom: 15px;
}

.sorting-section .btn{
    border: 1px solid #D3D3D3;
}

.themes-section {
    margin-bottom: 15px;
}

.themes-section .btn {
    border: 1px solid #D3D3D3;
}

.sort-label {
    color: #9f9e9e;
    font-size: 1rem;
    font-weight: 400;
}

.notification-text {
    color: #7ac7e5;
    font-size: 1rem;
}

.key-value-icon {
    background-color: #D3D3D3;
    color: #000000;
    padding: 4px;
    margin: 1px;
    font-size: 1.2rem!important;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.delete-pair {
    color: #FFFFFF;
    background-color: #d75253;
    margin-left: 10px;
}

.selected-value-type {
    background-color: #1a78d7;
    color: #FFFFFF;
}

.colorpicker_field {
    width: 100%;
}

.colorpicker {
    pointer-events: all;
}

.color-sample {
    background-color: #4bcdff
}

.input-group-addon {
    padding-top: 3px;
    padding-bottom: 2px;
}

.colorpicker-element p{
    font-size: 1rem;
}

.browse-button {
    width: auto;
    height: 25px;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.back-to-list,
#undo-actions {
    padding: 0;
    vertical-align: middle;
    line-height: 3rem;
}

.init-poi-text p{
    font-size: 1.4rem;
}