.panel-section {
    max-width: 250px;
    margin-left: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: all
}

.panel-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-section .separate-block.row {
    margin-top: 30px;
}

.panel-body-row {
    flex: 1;
    height: 100%;
}

.panel-section .buttons_row {
    max-width: 210px;
}

.imp-exp-new ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
    font-size: 0.8em;
    font-weight: normal;
    display: flex;
}

.imp-exp-btn {
    background-color: #fcfefe;
    color: #2c7dca;
    border: 1px solid #D3D3D3;
    padding: 2px;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
}

.imp-exp-btn.col-sm {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.imp-exp-btn.select_wrapper {
    display: flex;
    padding: 0;
    flex: 2;
}

.imp-exp-btn select {
    padding: 0;
    border: 0px;
    width: 100%;
}

.imp-exp-btn.map_view {
    color: #7d7d7e;
}

.ui-item {
    max-width: 270px;
}

#main-panel .btn {
    font-size: 1.5em;
}

.panel.panel-default.poi-container {
    width: 100%;
}

.panel-body {
    font-size: 1.4em;
    position: relative;
    overflow-y: auto;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#controls-section {
    position: absolute;
    right: 0;
    bottom: 20px;
    right: 20px;
    display: none;
}

#controls-section ul {
    list-style: none;
}

.controls-btn {
    font-size: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 0px 2px #A9A9A9;
    margin: 5px;
    cursor: pointer;
    font-weight: 100;
    padding: 4px;
}


.controls-btn.ctrl-rotate-left {
    margin-left: -30px;
}

.controls-btn.ctrl-rotate-right {
    margin-left: 20px;
}

.btn-primary {
    color: #fff!important;
    background-color: #007bff!important;
    border-color: #007bff!important;
}

#listPoiContainer {
    list-style: none;
}

.poi-list-item {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid lightgrey;
    padding: 10px;
    cursor: pointer;
}

#listPoiTemplate {
    display: none!important;
}

.list-icon-wrapper {
    display: flex;
    align-items: center;
}

.poi-list-item.row {
    margin: 2px;
    margin-left: 0;
    margin-right: 0;
}

.list-poi-icon {
    font-size: 1.6em;
}

.list-poi-label {
    margin: 0;
    font-weight: 400;
    display: block;
    line-height: 100%;
}

.list-poi-bldg,
.list-poi-floor,
.list-poi-dtime {
    color: #cacaca;
    font-size: 0.9em;
    line-height: 100%;
    margin: 0;
}

.invisible {
    display: none!important;
    transition: all 1s;
}

#details-panel {
    background-color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.poi-details-panel .form-group {
    margin-bottom: 0.5rem!important;
}

.poi-details-panel .form-group label {
    margin-bottom: .2rem!important;
}

#details-panel .row {
    margin-top: 5px;
    margin-tobbom: 5px;
    margin-left: 0!important;
    margin-right: 0!important;
}

#details-header {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.poi-details-panel .row {
    margin-left: 0;
    margin-right: 0;
}

.poi-details-panel input,
.poi-details-panel select {
    height: 20px;
}

.poi-details-panel select {
    height: 20px!important;
    padding: 0;
}

.poi-details-panel label {
    color: #9f9e9e;
    font-size: 12px;
    font-weight: 400;
}

.poi-details-panel span {
    color: #9f9e9e;
    font-size: 12px;
    font-weight: 400;
}

.poi-details-panel,
.poi-list-panel {
    transition: display 0.5s;
}

.poi-details-name {
    width: 100%;
    height: 30px;
}

.poi-details-select {
    padding: 0;
    height: 20px;
}

.btn-basic {
    background-color: #808080;
    color: #FFFFFF;
}

.saved-btn {
    display: none;
    transition: all 0.5s;
}

.saved-btn span{
    text-align: right;
    color: #28a745!important;
}

#details-panel .header-button {
    /*margin-right: 5px;*/
}

.header-button span {
    color: #FFFFFF;
}

.header-button .poi-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.btn-success {
    backgroundd-color: #5eb861!important;
}

.btn-primary {
    background-color: #1175d3!important;
}

.last-row {
    height: 70px;
    border-bottom: 1px solid #D3D3D3;
}

#delete-point-section {
    padding-top: 5px;
}

.tooltip-body {
    display: block;
    width: 100%;
}

.form-icon {
    width: 20px;
    height: 20px;
}

.no-right-padding {
    padding-right: 0!important;
}

.import-poi-file {
    display: none!important;
}

#con-file-hidden {
    display: none!important;
}

#poi-browse-text {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#poi-browse-icons {
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#poi-browse-icons button {
    font-size: 12px!important;
    text-align: center;
    padding: 0;
}

.poi-icon-image {
    width: 20px;
    height: 20px;
}

#poi-select-icon {
    margin-left: auto;
    margin-right: auto;
}

.centered-label {
    margin: auto;
    text-align: center;
}

#icon-file-hidden {
    display: none!important;
}

#poi-icon-image {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}